In [16]:
# Dependencies
import os
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import time
import requests
import pymongo

In [17]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### Collect the latest News Title and Paragraph Text

In [18]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
time.sleep(2)

In [19]:
# Create BeautifulSoup object; parse with 'html.parser'
html=browser.html
soup = BeautifulSoup(response.text, 'html.parser')

In [26]:
title=soup.title.text
print(title)

News  – NASA’s Mars Exploration Program

In [28]:
# Print all paragraph texts
paragraphs = soup.find_all('p')
for paragraph in paragraphs:
    print(paragraph.text)

Managed by the Mars Exploration Program and the Jet Propulsion Laboratory for NASA’s Science Mission Directorate

In [15]:
#print(soup.prettify)

### JPL Mars Space Images - Featured Image

In [8]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [9]:
#url for Sapce image
base_url='https://www.jpl.nasa.gov'
images_url='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(images_url)

In [10]:
results = browser.find_by_xpath('//*[@id="fancybox-lock"]/div/div[1]/img').click()
time.sleep(2)

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [14]:
img = soup.find("img", class_="fancybox-image")["src"]
featured_image_url=base_url+img
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17832_ip.jpg

### Mars Facts

In [41]:
facts_url='https://space-facts.com/mars/'

In [42]:
table = pd.read_html(facts_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [43]:
type(table)

list

In [44]:
df=table[0]
df.columns = ['Descriptions','Values']
df.set_index(['Descriptions'])
df

           Descriptions                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [45]:
#DataFrames as HTML
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Descriptions</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [48]:
html_table=html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Descriptions</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [50]:
df.to_html('table.html')

## Mars Hemispheres

In [9]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [10]:
base_url='https://astrogeology.usgs.gov/'
hemispheres_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)

In [25]:
hemisphere_image_urls=[]

#### Cerberus Hemisphere Enhanced

In [26]:
results = browser.find_by_xpath('//*[@id="wide-image"]/img').click()
time.sleep(2)

In [27]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [28]:
img_url = soup.find("img", class_="wide-image")["src"]
cereberus_img_url=base_url+img_url
print(cereberus_img_url)
img_title=soup.find('h2', class_="title").text
print(img_title)
cerberus_hemisphere ={"image title":img_title, "img_url":cereberus_img_url}
hemisphere_image_urls.append(cerberus_hemisphere)

https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
Cerberus Hemisphere Enhanced

#### Schiaparelli Hemisphere Enhanced

In [29]:
results = browser.find_by_xpath('//*[@id="wide-image"]/img').click()
time.sleep(2)

In [30]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [31]:
img_url = soup.find("img", class_="wide-image")["src"]
schiaparelli_img_url=base_url+img_url
print(schiaparelli_img_url)
img_title=soup.find('h2', class_="title").text
print(img_title)
schiaparelli_hemisphere ={"image title":img_title, "img_url":schiaparelli_img_url}
hemisphere_image_urls.append(schiaparelli_hemisphere)

https://astrogeology.usgs.gov//cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced

#### Syrtis Major Hemisphere Enhanced

In [40]:
results = browser.find_by_xpath('//*[@id="wide-image"]/img').click()
time.sleep(2)

In [41]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [42]:
img_url = soup.find("img", class_="wide-image")["src"]
syrtis_img_url=base_url+img_url
print(syrtis_img_url)
img_title=soup.find('h2', class_="title").text
print(img_title)
syrtis_hemisphere ={"image title":img_title, "img_url":syrtis_img_url}
hemisphere_image_urls.append(syrtis_hemisphere)

https://astrogeology.usgs.gov//cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced

#### Valles Marineris Hemisphere Enhanced

In [43]:
results = browser.find_by_xpath('//*[@id="wide-image"]/img').click()
time.sleep(2)

In [44]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [45]:
img_url = soup.find("img", class_="wide-image")["src"]
valles_img_url=base_url+img_url
print(valles_img_url)
img_title=soup.find('h2', class_="title").text
print(img_title)
valles_hemisphere ={"image title":img_title, "img_url":valles_img_url}
hemisphere_image_urls.append(valles_hemisphere)

https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced